body {
    font-family: Arial;
    background-color: #e9ecef;
}

.container {
    width: 400px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
}
